In [1]:
import hopsworks
import pandas as pd
import random
import time
random.seed(time.time())

/home/jdowling/anaconda3/envs/book/lib/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

#### Function to create a random passenger on the Titanic

In [2]:
def generate_random_passenger():
    """
    Returns a single Titanic passenger as a single row in a DataFrame
    """

    survived = False
    pick_random = random.uniform(0,2)
    if pick_random >= 1:
        print("Survivor added")
    else:
        print("Non-Survivor added")

    if survived:
        unif = random.uniform(0, 1)
        if unif < 109/342:
            sex = 'male'
        else:
            sex = 'female'
        if unif < 136/342:
            pclass = 1
        elif unif < 223/342:
            pclass = 2
        else:
            pclass = 3
        age = random.uniform(0.42, 80.0)
        if unif < 25/100:
            fare = random.uniform(0.0, 12.47)
        elif unif < 50/100:
            fare = random.uniform(12.47, 26.0)
        elif unif < 75/100:
            fare = random.uniform(26.0, 57.0)
        else:
            fare = random.uniform(57.0, 512.0)
        if unif < 233/342:
            parch = 0.0
        elif unif < (65+233)/342:
            parch = 1.0
        elif unif < (40+65+233)/342:
            parch = 2.0
        else:
            parch = round(random.uniform(3.0, 5.0))
        if unif < 210/342:
            sibsp = 0.0
        elif unif < (112+210)/342:
            sibsp = 1.0
        else:
            sibsp = round(random.uniform(2.0, 4.0))
        if unif < 219/342:
            embarked = 'S'
        elif unif < (93+210)/342:
            embarked = 'C'
        else:
            embarked = 'Q'
    else:
        unif = random.uniform(0, 1)
        if unif < 468/549:
            sex = 'male'
        else:
            sex = 'female'
        if unif < 80/549:
            pclass = 1
        elif unif < 177/549:
            pclass = 2
        else:
            pclass = 3
        age = random.uniform(1.0, 74.0)
        if unif < 25/100:
            fare = random.uniform(0.0, 7.85)
        elif unif < 50/100:
            fare = random.uniform(7.85, 10.5)
        elif unif < 75/100:
            fare = random.uniform(10.5, 26.0)
        else:
            fare = random.uniform(26.0, 263.0)
        if unif < 445/549:
            parch = 0.0
        elif unif < (53+445)/549:
            parch = 1.0
        elif unif < (40+53+445)/549:
            parch = 2.0
        else:
            parch = round(random.uniform(3.0, 6.0))
        if unif < 398/549:
            sibsp = 0.0
        elif unif < (97+398)/549:
            sibsp = 1.0
        else:
            sibsp = round(random.uniform(2.0, 6.0))
        if unif < 427/549:
            embarked = 'S'
        elif unif < (75+427)/549:
            embarked = 'C'
        else:
            embarked = 'Q'

    df = pd.DataFrame({ "sex": [sex], "age": [age], "pclass": [pclass], "fare": [fare],
                       "parch":[round(parch)], "sibsp": [round(sibsp)], "embarked": [embarked]
                      })
    df['survived'] = round(survived)
    return df

In [3]:
project = hopsworks.login()
fs = project.get_feature_store()

Connected. Call `.close()` to terminate connection gracefully.

Logged in to project, explore it here https://snurran.hops.works:443/p/5240
Connected. Call `.close()` to terminate connection gracefully.

In [4]:
titanic_df = generate_random_passenger()
titanic_df

Non-Survivor added

      sex        age  pclass       fare  parch  sibsp embarked  survived
0  female  20.563611       3  107.13882      1      1        C         0

In [5]:
titanic_fg = fs.get_feature_group(name="titanic", version=1)
titanic_fg.insert(titanic_df, wait=True)

Uploading Dataframe: 100.00% |█████████████████████████████████████████████████████████████████████████████████| Rows 1/1 | Elapsed Time: 00:03 | Remaining Time: 00:00

Launching job: titanic_1_offline_fg_materialization
Job started successfully, you can follow the progress at
https://snurran.hops.works/p/5240/jobs/named/titanic_1_offline_fg_materialization/executions

(<hsfs.core.job.Job at 0x7f05b5bebc70>, None)