In [34]:
import pandas as pd
df = pd.DataFrame(
    { "cc_num" : [1, 1, 1, 2, 2, 2,],
       "amount": [4, 1, 2, 7, 6, 7],
     "category": ["food", "food", "clothes", "electronic", "travel", "travel"]
    }
)
df

   cc_num  amount    category
0       1       4        food
1       1       1        food
2       1       2     clothes
3       2       7  electronic
4       2       6      travel
5       2       7      travel

In [35]:
df2 = df.groupby("cc_num")["amount"].sum()
df2

cc_num
1     7
2    20
Name: amount, dtype: int64

In [36]:
# Find the maximum amount where we a cc_num has > 2 transactions with the same category

df3 = df.groupby("cc_num").apply(
    # lambda df: df[df["category"].count() > 1]["amount"].max()
    lambda df: df[df["category"].count() > df["category"].mean()]["amount"].max()
)
df3

TypeError: Could not convert string 'foodfoodclothes' to numeric

In [37]:
import polars as pl

df = pl.DataFrame(
    { "cc_num" : [1, 1, 1, 2, 2, 2,],
       "amount": [4, 1, 2, 7, 6, 7],
     "category": ["food", "food", "clothes", "electronic", "travel", "travel"]
    }
)
df

shape: (6, 3)
┌────────┬────────┬────────────┐
│ cc_num ┆ amount ┆ category   │
│ ---    ┆ ---    ┆ ---        │
│ i64    ┆ i64    ┆ str        │
╞════════╪════════╪════════════╡
│ 1      ┆ 4      ┆ food       │
│ 1      ┆ 1      ┆ food       │
│ 1      ┆ 2      ┆ clothes    │
│ 2      ┆ 7      ┆ electronic │
│ 2      ┆ 6      ┆ travel     │
│ 2      ┆ 7      ┆ travel     │
└────────┴────────┴────────────┘

In [38]:
df2 = df.group_by("cc_num").agg(pl.sum("amount"))
df2

shape: (2, 2)
┌────────┬────────┐
│ cc_num ┆ amount │
│ ---    ┆ ---    │
│ i64    ┆ i64    │
╞════════╪════════╡
│ 2      ┆ 20     │
│ 1      ┆ 7      │
└────────┴────────┘

In [39]:
df3 = df.group_by("cc_num").agg(
    pl.col("amount").filter(pl.col("category").count() > 1).max()
)
                              
df3

shape: (2, 2)
┌────────┬────────┐
│ cc_num ┆ amount │
│ ---    ┆ ---    │
│ i64    ┆ i64    │
╞════════╪════════╡
│ 2      ┆ 7      │
│ 1      ┆ 4      │
└────────┴────────┘

In [26]:
print(df3)

col("amount").filter([(col("category").count()) > (1)])